.app-header{
  background-color: #fff;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height:inherit;
  .app-header-menu{
    width:40px;
    height:inherit;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .iconfont{
      font-size: 20px;
      color: #5c5c5c;
    }
  }
  .app-header-tab{
    height:inherit;
    width: calc(~'100% - 120px');
    display: flex;
    justify-content: space-between;
    align-items: center;
    .app-header-tab-item{
      position: relative;
      transition: .1s;
      border-radius: 50px;
      width:46px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:15px;
    }
    .app-header-tab-item:active{
      background: #eee;
    }
    span{
      display: block;
      width:20%;
      text-align: center;
      font-size: 14px;
      color: #5c5c5c;
    }
    .active{
      font-size:17px;
      color:#111;
      font-weight: 700;
    }
  }
  .app-header-search{
    width:40px;
    height:inherit;
    display:flex;
    justify-content: center;
    align-items: center;
    .iconfont{
      font-size: 20px;
      color:#5c5c5c;
    }
  }
}