@import '//at.alicdn.com/t/font_1649417_tx2c244jio.css';
html,body{
  padding:0;
  margin:0;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#app{
  user-select: none;
  overflow: hidden;
  .app-badge{
    background: var(--theme-color);
    position: absolute;
    width: 20px;
    height: 16px;
    border-radius: 46%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
  }
}