.pull_self_refresh{
  position: relative;
  height:100%;
  width:100%;
  .pull_self_refresh_loading{
    position: absolute;
    top: -50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:999;
    transition: .5s;
    height:50px;
    .pull_self_refresh_loading_iconfont{
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size:28px;
      color:var(--theme-color);
    }
  }
}
@keyframes refresh-animation {
  0%  {transform: rotate(0deg);}
  100%  {transform: rotate(360deg);}
}